@font-face {
    font-family: "VictorMonoNF";
    src: url("./fonts/VictorMonoNFMNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "VictorMonoNF", monospace;
    background: black;
}

#toolbar{
    margin: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#instructions{
    text-align: center;
    max-width:500px;
    color: #AEC8A4;
    border: medium dashed #8A784E;
    padding: 10px;
    margin: 30px auto;
}

.button-54 {
  font-family: "VictorMonoNF", monospace;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #3B3B1A;
  background-color: #8A784E;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

canvas{
    background: black;
    border: 0.1rem outset #8A784E;
    cursor: cell;
}
